<!--  -->

<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Calculation web-site
    </title>

    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            max-width: 800px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="data-section">
        <h2>Input</h2>
    </div>


</body>

</html>