<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        Calculation web-site
    </title>
</head>

<body>
    <div class="data-section">
        <h2>Input</h2>
        <label for="connectors">Enter your test product data: </label>
        <input type="text" name="connector-name" id="">
        <input type="number" name="connector-poles" id="">
    </div>

    <div>
        <input type="checkbox" id="" name="test1" value="t1">
        <label for="test1"> Test 1: Mechanical</label><br>
        <input type="checkbox" id="" name="test2" value="t2">
        <label for="test2"> Test 2: Test 2</label><br>
        <input type="checkbox" id="" name="test3" value="t3">
        <label for="test3"> Test 3: Test 3</label><br>
    </div>


    <div class="result-section">
        <p>Sample calculation result: </p>
        <span></span>
    </div>
    <script defer src="/js/main.js"></script>
</body>

</html>