<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        Calculation web-site
    </title>
</head>

<body>
    <div class="data-section">
        <h2>Input</h2>
        <label for="connectors">Enter your test product data: </label>
        <input type="text" name="connector-name" id="">
        <input type="number" name="connector-poles" id="">
    </div>

    <div>
        <button onclick="dohvatiMiPodatke()" id="pokreni">gumb za pokretanje</button>
    </div>

    

    <div class="result-section">
        <p>Sample calculation result: </p>
        <span id="odgovor"></span>
    </div>
    <script defer src="/js/main.js"></script>
    <script>

    </script>
</body>

</html>