body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.data-section{
    background-color: beige;
    width: 100px;
    height: fit-content;
    padding: 10px;
    margin: 10px;
}
